@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, isAdmin:
Boolean) @Main(page, isLoggedIn, userInfo, isAdmin) {
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <a href="http://wbpreview.com/previews/WB0D95984/index.html">
            <img class="img-responsive"
                 src="http://wbpreview.com/previews/WB0D95984/img/slide1.png"
                 alt="slide1" /></a>
        </div>
        <div class="col-sm-4">
            <h1>Responsive and Clean Wrapbootstrap Theme</h1>
            <p>There are many variations of passages of Lorem Ipsum
                available, but the majority have suffered alteration in
                some form, by injected humour, or randomised words which
                don't look.</p>
            <p>
                Aliquam quis libero iaculis, bibendum massa id, interdum
                libero. Aliquam mollis aliquam pretium. Phasellus
                tincidunt consequat egestas. Cras molestie turpis eu
                Integer vehicula nec ante gravida imperdiet.</p>
            <a
                href="@routes.Application.login()"
                class="btn btn-primary btn-large"> Click here to
                login! </a>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            @if(isLoggedIn) {
            <h3>Welcome @userInfo.getEmail()</h3>
            }
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Donec viverra mauris a nunc suscipit, et elementum
                leo euismod. Ut sodales placerat odio. Integer fringilla
                tempor sapien. Morbi nec hendrerit eros. Vivamus tempor
                et odio a tincidunt. Nullam placerat tincidunt sapien,
                vitae rhoncus risus molestie id. Etiam viverra velit
                elit, ac luctus ligula rhoncus eu. Maecenas sit amet
                augue et augue luctus consequat nec sit amet nulla.</p>
        </div>
    </div>
</div>

}
