@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, isAdmin: Boolean, userForm : Form[views.formdata.UserFormData]) 

@import helper._
@import bootstrap3._

@Main(page, isLoggedIn, userInfo, isAdmin) {
<div class="container">
  @form(routes.Application.postUser(), 'class -> "form-horizontal") {
  
  @text(userForm("name"),
        label = "Name",
        placeholder = "Name",
        help = "")

  @text(userForm("email"),
        label = "E-mail",
        placeholder = "E-mail",
        help = "")
          
  @text(userForm("password"),
        label = "Password",
        placeholder = "Password",
        help = "")
             
  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary">Create User</button>
		</div>
	</div>
	}
</div>
}
