@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, isAdmin: Boolean, users: List[UserInfo])

@Main(page, isLoggedIn, userInfo, isAdmin) {
   <div class="container">

    <h2>Current Users</h2>
     <table class="table table-striped table-bordered">
       <thead>
         <tr>
           <th>Email</th>
           <th>Name</th>
           <th>Password</th>
         </tr>
       </thead>
     @for(user <- users) {
       <tr>
         <td>@user.getEmail()</td>
         @if(userInfo.getEmail() != "guest@example.com") {
         <td>@user.getName()</td> }
         @if(isAdmin) {         
         <td>@user.getPassword()</td>
         }
         @if(isAdmin && user.getEmail() != "admin@example.com") {
           <td><a href="@routes.Application.deleteUser(user.getEmail())">Delete</a></td> }        
       </tr>
     }
     </table>
     <p>Praesent lectus elit, tempus sit amet lacus sed, placerat
        laoreet lorem. Cras in ipsum ac lectus mattis sodales. Aliquam
        porta id mi nec ullamcorper. Pellentesque vehicula commodo
        ultrices. Sed non nibh commodo, lacinia ipsum a, blandit risus.
        Sed hendrerit pulvinar nibh at tristique. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Vivamus odio diam, fringilla
        vel purus eu, mollis rhoncus felis. Etiam eu augue nibh.
        Praesent nec aliquam purus. Nulla nec condimentum velit. Integer
        sed tempor justo, non aliquam libero. Sed vel fringilla dui.
        Fusce quis magna nec dui auctor adipiscing.</p>     
   </div>
}
